{% load staticfiles %}
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <style>

  </style>

</head>
<body>
  <!--<div id="header">
      <span class="logo">Data Sciences</span>
      {% if request.user.is_authenticated %}
        <ul class="menu">
          <li {% if section == "dashboard" %}class="selected"{% endif %}>
            <a href="{% url "dashboard" %}">My dashboard</a>
          </li>
          <li {% if section == "images" %}class="selected"{% endif %}>
          <a href="#">Images</a>
        </li>
        <li {% if section == "people" %}class="selected"{% endif %}>
          <a href="#">People</a>
        </li>
      </ul>
    {% endif %}

    <div class="login-student">
      {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name }}, <a href="{% url "logout" %}">Logout</a>
      {% else %}
        <a href="{% url "login" %}">Log-in</a>
      {% endif %}
    </div>
  </div>

  </div>>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>-->
</body>
</html>