{% load staticfiles %}
<html>
<head>
    <title>UNO Math Department</title>
    <style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        width:800px;
        margin:auto;
        background-color: #eee;
    }
    div a {
        color:black;
        font-size: 20px;
    }

    .title{
        color:Black;
        font-size: 35px;
        /*background-color: #BDBDBD;*/
    }
    a:hover {
        color:grey;
    }

    .content{
        color: black;
    }

   </style>
</head>
<body>

    <div id="header">
        <h1><a class= "title" href="/">Welcome to Data Sciences</a></h1><br />
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>