{% load staticfiles %}
<html>
<head>
    <title></title>
    <style><!--
    body {
        font-family: Arial, Helvetica, sans-serif;
        width:800px;
        margin:auto;
        background-color: white;
        background-image: url(test.jpg);
    }
    a {
        color:black;
        text-decoration:none;

    }
    a:hover {
        text-decoration:underline;
    }
    --></style>
</head>
<body>
    <div id="header">
        <h1><a href="/">Welcome to Data Sciences</a></h1>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>