{% extends "base.html" %}
{% load staticfiles %}

<head>
    <title>UNO Math Department</title>

</head>

<body>
{% block content %}
  <p id="log_des">Welcome to the Project Management System, please choose from below options to <a href="/login/">login</a> or <a href="/register/">register</a>.</p>
<div class ="login">
    <div class="login1">﻿
      <a href="{% url 'student_access:sa_list' %}">
        <img class="img" src="/static/images/student.png"/><br /><br />
        Login - Student Assistant
      </a>
    </div>
    <div class="login1">
      <a href="{% url 'professor_access:pa_list' %}">
        <img class="img" src="/static/images/advisor.png" /><br /><br />
        Login - Advisor
      </a>
    </div>
    <div class="login1">
    <a href="/admin/">
    <img class="img" src="/static/images/admin.png"/><br /><br />
        Login - Admin
      </a>
    </div>
</div>

{% endblock %}
</body>
</html>
