{% extends "base.html" %}
{% load staticfiles %}

<head>
    <title>UNO Math Department</title>

</head>

<body>
{% block content %}
<div class="box_register"><p id="log_des" style="text-align: center">Register to the Website</p>
<div class ="login">

  <form method="post" style="text-align: center; width: 100%; margin: 20px">
    {% csrf_token %}
    <p>
      <span style="display: inline-block; width: 300px">Username
      <input type="text" name="username"> </span>
    </p>
    <!--<p>
      <span style="display: inline-block; width: 300px">Role
      <select name="role">
        <option value="student">student</option>
        <option value="professor">professor</option>
        <option value="admin">admin</option>
      </select></span>
    </p>
    <p class="professor_select">
      <span style="display: inline-block; width: 300px">Professor（if you are a student）
      <select name="professor_id">
        {% for professor in professors %}
          <option value="{{ professor.id }}">{{ professor.username }}</option>
        {% endfor %}
      </select></span>
    </p>-->
    <p>
      <span style="display: inline-block; width: 300px">Password
      <input type="password" name="password1">
    </span>
    </p>

    <p>
      <span>Repeat Password
      <input type="password" name="password2"></span>

    </p>

    <p>
	<div class="submit">
		<input class="submit" type="submit" value="Sign Up">
	</div>
    </p>
  </form>
</div>
</div>

  <script>
    {% if msg %}
        alert('{{ msg }}')
    {% endif %}
  </script>

{% endblock %}
</body>
</html>
