{% extends "base.html" %}

{% block content %}

<style>
	.input{
		display: none;
	}
	.submit{
		display: none;
	}
	.return_home{
		color:red;
		text-align:right;
		font-size:18px;
	}
	.prj_name{
		text-align:center;
		font-size:25px;
		font-weight:bold;
	}
	.student_name{
		text-align:center;
		font-size:18px;
	}
	.text{
		 font-size:18px;
		 line-height: 2.5;
	}
	.name{
		font-size:18px;
		font-weight:bold;
	}
	.submit{
		font-size:100px;
	}
	.detail_content{
		width:1030px;
		margin: 10px auto;
		padding:10px;
	}

</style>

<div class="detail_content">
<div class="return_home"><a href="{% url 'professor_access:pa_list' %}">Back to Home</a></div>

<form method="post">{% csrf_token %}

	<!--<p>
		Project ID: {{project.id}}
	</p>-->
	<div class="prj_name">
		<span >{{project.name}}</span>
		<span class="input"><input type="text" name="name" value="{{project.name}}"></span><br />
	</div>
	<div class="student_name">
		<br /><span>{{project.student_name}} <button type="button" class="edit">edit</button></span>
		<span class="input"><input type="text" name="student_name" value="{{project.student_name}}"></span>
	</div>
	<!--<p>
		Email: 
		<span class="text">{{project.email}} <button type="button" class="edit">edit</button></span>
		<span class="input"><input type="text" name="email" value="{{project.email}}"></span>
	</p>-->

	<!--<p>
		Date:
		<span class="text">{{project.date|date:'m-d-Y'}} <button type="button" class="edit">edit</button></span>
		<span class="input"><input type="text" name="date" value="{{project.date|date:'Y-m-d'}}"></span>-->
	</p>
	<p class="name">Introduction<button type="button" class="edit">edit</button></p>
		<span class="text">{{project.description|linebreaksbr}}</span>
		<span class="input"><textarea cols="40" rows="5" name="description">{{project.description}}</textarea></span>



	<p class="name">Summary <button type="button" class="edit">edit</button></p>
		<span class="text">{{project.note|linebreaksbr}}</span>
		<span class="input"><textarea cols="40" rows="5" name="note">{{project.note}}</textarea></span>


	<p class="name">Stage</p>
		<span class="text">{{project.stage}} <button type="button" class="edit">edit</button></span>
		<span class="input"><input type="text" name="stage" value="{{project.stage}}"></span>

	<p class="submit">
		<input class="submit" type="submit" value="submit">
	</p>
	<p class="name">Picture<input type="file" name="file">
	</p>


</form>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$('.edit').click(function(){
		$(this).parent().parent().find('.text').hide()
		$(this).parent().parent().find('.input').show()
		$('.submit').show()
	})
</script>
<p class="return_home"><a href="{% url 'professor_access:pa_list' %}">Back to Home</a></p>

	</div>
{% endblock %}