{% extends "base.html" %}

{% block content %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<style>
	.input{
		display: none;
	}
	.submit{
		font-family:Arial;
		display: none;
		font-size:18px;
	}
	.return_home{
		color:red;
		text-align:right;
		font-size:18px;
	}
	.prj_name{
		text-align:center;
		font-size:30px;
		font-weight:bold;
		font-family:Arial;
	}
	.student_name{
		text-align:center;
		font-size:18px;
	}
	.text{
		 font-size:18px;
		 line-height: 2.5;
	}
	.name{
	    font-family:Arial;
		font-size:18px;
		font-weight:bold;
	}
	.line{
		margin: 20px;
	}

	.detail_content{
		width:1030px;
		margin: 10px auto;
		padding:10px;
	}
	.ql-container{
		height: 50vh;
	}
	.advisor_assistant{
		font-size:20;
		font-weight:bold;
	}
</style>

<div class="detail_content">
<div class="return_home"><a href="{% url 'professor_access:pa_list' %}">Back to Home</a></div>

<form method="post" id="form">
{% csrf_token %}
<!--{{ form.media }}
	{{ form.as_p }}
	<!--<p>
		Project ID: {{project.id}}
	</p>-->
	<div class="prj_name">
		<span >{{project.name}}</span>
		<span class="input"><input type="text" name="name" value="{{project.name}}"></span><br />
	</div>
	<!--<div class="student_name">
		<br /><span>{{project.student_name}} <button type="button" class="edit">edit</button></span>
		<span class="input"><input type="text" name="student_name" value="{{project.student_name}}"></span>
	</div>-->
	<div class="student_name">
		<br /><span class="advisor_assistant">Advisor: </span>
				<span>{{ project.advisor }}</span>
		<span class="input"><input type="text" name="student_name" value="{{project.student_name}}"></span>
	</div>
	<div class="student_name">
		<br /><span class="advisor_assistant">Student Assistant: </span>
		<span>{{project.student_name}}</span>
		<span class="input"><input type="text" name="student_name" value="{{project.student_name}}"></span>
	</div>
	<hr />
	
	<!--<p>
		Email:
		<span class="text">{{project.email}} <button type="button" class="edit">edit</button></span>
		<span class="input"><input type="text" name="email" value="{{project.email}}"></span>
	</p>-->

	<!--<p>
		Date:
		<span class="text">{{project.date|date:'m-d-Y'}} <button type="button" class="edit">edit</button></span>
		<span class="input"><input type="text" name="date" value="{{project.date|date:'Y-m-d'}}"></span>
	</p>-->
	<div class="name">
		Introduction<button type="button" class="edit">edit</button>
	</div>
		<div class="text">{{project.description|safe}}</div>
		<div class="input">
			<input type="hidden" name="description" id="description">
			<div id ="editor1">{{project.description|safe}}</input></div>
		</div>

<!--{% autoescape off %}-->


	<div class="name">
		Summary<button type="button" class="edit">edit</button>
	</div>
		<div class="text">{{project.note|safe}}</div>
		<div class="input">
			<input type="hidden" name="note" id="note">
			<div id="editor">{{project.note|safe}}</div>
		</div>
<!--{% endautoescape off %}-->

	<!--<p class="name">Picture<input type="file" name="file"></p>-->

	<div class="name">Stage</div>
		<span class="text">{{project.stage}} <button type="button" class="edit">edit</button></span>
	<span class="input"><input type="text" name="stage" value="{{project.stage}}"></span>


	<div class="submit">
		<input class="submit" type="submit" value="submit">
	</div>


</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script>
	$('.edit').click(function(){
		$(this).parent().parent().find('.text').hide()
		console.log(this)
		console.log($(this).parent())
		$(this).parent().parent().find('.input').show()
		$('.submit').show()
	})

	var quill = new Quill('#editor', {
		theme: 'snow',
		modules: {
			toolbar: [
				[{ 'header': [1, 2, 3, 4, 5, 6, false] }],
				['bold', 'italic', 'underline'],        // toggled buttons
				['code-block'],
				[{ 'list': 'ordered'}, { 'list': 'bullet' }],
				[{ 'script': 'sub'}, { 'script': 'super' }],
				[{ 'indent': '-1'}, { 'indent': '+1' }],
				[{ 'color': [] }, { 'background': [] }],          
				[{ 'align': [] }, 'image', 'clean'],
			]
		}
	});

	$('#form').submit(function () {
		var html = quill.container.firstChild.innerHTML
		$('#note').val(html)
	})

	$('.edit1').click(function(){
		$(this).parent().parent().find('.text').hide()
		console.log(this)
		console.log($(this).parent())
		$(this).parent().parent().find('.input').show()
		$('.submit').show()
	})
	var quill1= new Quill('#editor1', {
		theme: 'snow',
		modules: {
			toolbar: [
				[{ 'header': [1, 2, 3, 4, 5, 6, false] }],
				['bold', 'italic', 'underline'],        // toggled buttons
				['code-block'],
				[{ 'list': 'ordered'}, { 'list': 'bullet' }],
				[{ 'script': 'sub'}, { 'script': 'super' }],
				[{ 'indent': '-1'}, { 'indent': '+1' }],
				[{ 'color': [] }, { 'background': [] }],
				[{ 'align': [] }, 'image', 'clean'],
			]
		}
	});

	$('#form').submit(function () {
		var html = quill1.container.firstChild.innerHTML
		$('#description').val(html)
	})
</script>


<div class="return_home"><a href="{% url 'professor_access:pa_list' %}">Back to Home</a></div>

	</div>
{% endblock %}