{% extends "base.html" %}

{% block content %}
<head>
     <title>Projects</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>

<body>
<style>
    body {
        background-color: #eee;
    }
</style>
<p>Hello, student! Welcome to Data Sciences. There are some information about your project.</p>
<div class="row">
        <h3 style="padding-left: 15Px">Manage Projects</h3>


<h2><a href="{% url 'admin_access:aa_list' %}"></a>: Edit</h2>


<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}